<div class="AboutPageBox">

      <div class="contentsWrapper1">
         <div class="picBox">
              <img ng-src="{{ singlePhoto.pic }}" 
                   alt="{{ singlePhoto.name }}">
                   <button ng-click="uploadPhoto" >{{ singlePhoto.likes }} Likes
                   </button>

                    <button ng-click="deleteMe(singlePhoto)" 
                            name="button" 
                            class=>Delete
                    </button>
              </div>
         <div class="nameDescWrapper">
            <div class="name">{{ singlePhoto.name }}</div>
            <hr>
            <div class="desc">{{ singlePhoto.desc}}</div>
         </div> 
      </div>
</div>