    

    <form  ng-submit="uploadPhoto(photo)">
        <div class="nameText">
          <input type="text" class="input" placeholder="Photo Name" ng-model="photo.name">
        </div>

        <div class="photoBox">
          <input type="text" class="input" placeholder="Photo Upload" ng-model="photo.pic">
        </div>

        <div class="descText">
          <input type="text" class="input" placeholder="Photo Description" ng-model="photo.desc">
        </div>

      <button class="button">Add Photo</button>

    </form>