

  <div class="contentsWrapper2">
      <form  ng-submit="uploadPhoto(photo)">

          <div>
             <input type="text" 
                    class="nameText" 
                    placeholder="Photo Name" 
                    ng-model="photo.name"
                    required>
          </div>

          <div>
             <input type="text" 
                    class="photoBox" 
                    placeholder="Photo Upload" 
                    ng-model="photo.pic"
                    required>
          </div>

          <div>
             <textarea type="text" 
                      class="descText" 
                      placeholder="Photo Description" 
                      ng-model="photo.desc"
                      required>
             </textarea>
          </div>

            <div class="buttonBox"> 
            <button class="button">Add Photo</button>
            </div>

      </form>
  </div>
