       

        <div class="logoWrapper">
          <div class="logoPic">
            <img src="./images/LogoMakr.png">
          </div>

        </div>

        <div class="navWrapper">
          <nav>
            <a href="/#/">Home</a> 
<!--             <a href="/#/about">About Photo</a>  -->
            <a href="/#/add">Add Photo</a>
          </nav>
        </div>

<div ui-view></div>

          <div class="footerBox">
            <div class="copyright">
              <p>&copy All rights reserved by steeleio</p>
            </div>
            <div class="social">
              <i class="fa fa-facebook" aria-hidden="true">
              </i>
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-share-square" aria-hidden="true"></i>
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </div>
        </div>